body{
    background-image: url(istockphoto-467176236-612x612.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: left;
   background-size: cover;
   
}
.lgin{
    color: azure;
    background-color: black;
    width: 260px;
    height: 250px;
    opacity: 70%;
    border-radius: 10px;
   padding: 5px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.form{
   position: relative ;
   left: 30px;
}
.frgt{
    position: relative;
    left: 30px;   
}
   
  
   

#email{
    background-color: inherit;
    color: white;
    font-weight: 600;
    border-style: solid;
   


    
  
}
#password{
    background-color: inherit;
    color: white;
    font-weight: 600;
    border-style: solid;

}
.login{
    position: relative;
    left: 25px;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    background-color:aqua;
}